@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Henny+Penny&family=Montserrat:wght@500&family=Poppins:wght@600&family=Roboto&family=Teko&family=Ubuntu+Mono:wght@700&display=swap');

html {
    background-color: rgb(158, 154, 154);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(./image/wp4694442.jpg);
    background-size: cover;

}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    width: 35%;
    height: 80vh;
    background-image: url(./image/wp4694442.jpg);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(52, 62, 68);
    position: relative;
    backdrop-filter: blur(10px);
}

@media (max-width: 700px) {
    body {
        width: 100%;
        height: 100vh;
    }

}

.search {
    width: 100%;
    height: 10vh;

    position: absolute;
    top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

svg {
    width: 15px;
    height: 15px;
    color: rgb(56, 55, 55);
}

button {
    background-image: linear-gradient(to left, hwb(256 0% 60%), rgb(101, 85, 243));
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: none;
    box-shadow: 0px 0px 5px 2px rgb(150, 147, 147);
    margin-right: 10px;
}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
}
